<div class="alert alert-info" role="alert">
  <h4 class="alert-heading">Todo App Instructions</h4>
  <p>
    To add a new todo, enter its title and body, then click the 'add todo'
    button
    <br />
    <br />
    To edit an existing todo click its title, you will be directed to the
    editer, where you can change the title and todo body. Click 'Save' to save
    changes or 'Back' to stop editing.
    <br />
    <br />
    Once the todo is completed, click its 'Done' button, which will remove and
    delete the todo.
  </p>
  <hr />
  <p class="mb-0">
    Please click the link
    <a routerLink="/todos" class="alert-link">Todos</a>
    to get started.
  </p>
</div>
